.vip-registration {
  text-align: center;
}
.action_vip-registration {
  display: block;
  width: 130px;
  height: 40px;
  background-color: #0ba9ff;
  color: #fff;
  border-radius: 12px;
  line-height: 40px;
}
