.header {
  background: green;
  height: 90px;
  padding-top: 15px;
  padding-bottom: 15px;
  &__top {
    display: flex;
    align-items: center;
  }
}
.weather {
  display: flex;
  align-items: center;
  &__img {
    width: 27px;
    height: 22px;
  }
  &__des {
    font-size: 1.6rem;
  }
}
