.header {
  height: 90px;
  background-color: #fff;
  padding-bottom: 15px;
}
.weather {
  display: flex;
  align-items: center;
  gap: 5px;
  &__img {
    width: 27px;
    height: 22px;
  }
  &__des {
    font-size: 1.6rem;
  }
}
.des-current-day {
  align-items: center;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  font-size: 1.8rem;
  font-weight: 600;
}

