<div class="container mt-5">

  <div class="container-fluid">
    <div class="row">
      <div class="col-3">
        <ul class="admin__list">
          <li class="admin__item active">
            <a href="/admin/dashboard"><span>
                Dashboard</span></a>
          </li>
          <li class="admin__item">
            <a href="/admin/manage-articles"><span>
                Manage Articles</span></a>
          </li>
          <li class="admin__item">
            <a href="/admin/manage-users"><span>
                Manage Users</span></a>
          </li>
          <li class="admin__item">
            <a href="/admin/manage-categories"><span>
                Manage Categories</span></a>
          </li>
          <li class="admin__item">
            <a href="/admin/manage-tags"><span>
                Manage Tags</span></a>
          </li>
          <li class="admin__item">
            <a href="/admin/extend-subscription"><span>
                Extend Subscription</span></a>
          </li>
        </ul>
      </div>
      <div class="col-9">
        <h1 class="admin__heading">Dashboard</h1>
        <div class="dashboard-content">
          <section class="dashboard-functions">
            <h2>Admin Functions</h2>
            <ul>
              <li>
                <a href="/admin/manage-categories">
                  <div class="function-icon">&#128195;</div>
                  <div class="function-name">Manage Categories</div>
                </a>
              </li>
              <li>
                <a href="/admin/manage-tags">
                  <div class="function-icon">&#128278;</div>
                  <div class="function-name">Manage Tags</div>
                </a>
              </li>
              <li>
                <a href="/admin/manage-articles">
                  <div class="function-icon">&#128221;</div>
                  <div class="function-name">Manage Article</div>
                </a>
              </li>

              <li>
                <a href="/admin/manage-users">
                  <div class="function-icon">&#128100;</div>
                  <div class="function-name">Manage Users</div>
                </a>
              </li>
              <li>
                <a href="/admin/extend-subscription">
                  <div class="function-icon">&#128178;</div>
                  <div class="function-name">Extend Subscriber Access</div>
                </a>
              </li>

            </ul>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>