<div class="container mt-5">

  <div class="container-fluid">
    <div class="row">
      <div class="col-3">
        <ul class="admin__list">
          <li class="admin__item">
            <a href="/admin/dashboard"><span>
                Dashboard</span></a>
          </li>
          <li class="admin__item">
            <a href="/admin/manage-articles"><span>
                Manage Articles</span></a>
          </li>
          <li class="admin__item">
            <a href="/admin/manage-users"><span>
                Manage Users</span></a>
          </li>
          <li class="admin__item">
            <a href="/admin/manage-categories"><span>
                Manage Categories</span></a>
          </li>
          <li class="admin__item active">
            <a href="/admin/manage-tags"><span>
                Manage Tags</span></a>
          </li>
          <li class="admin__item">
            <a href="/admin/extend-subscription"><span>
                Extend Subscription</span></a>
          </li>
        </ul>
      </div>
      <div class="col-9">
        <h1 class="admin__heading">Manage Tags</h1>
        <div class="footer__column">

        </div>
      </div>
    </div>
  </div>
</div>