.nav {
  &-control {
    background-color: var(--navControlBG);
    padding: 10px;
    height: 42px;
    cursor: pointer;
    border: 1px solid #fff;
    &:hover {
      background-color: rgb(90, 66, 50);
    }
  }
}

.nav-header {
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__home {
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(53, 53, 53);
    padding: 0 2px;
    border-radius: 10px 0 0 10px;
    &--img {
      width: 30px;
      height: 30px;
      filter: brightness(0) saturate(100%) invert(1) sepia(0) grayscale(1)
        contrast(100%) opacity(1);
    }
  }

  &__category {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative; /* Đảm bảo phần tử này là cha có position relative */

    &-list {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 10px;
      transition: transform 0.3s ease;
      height: 42px;
      width: 100%;
      color: #fff;
      background-color: rgb(53, 53, 53);
      overflow-x: hidden;
      white-space: nowrap;
    }

    &-item {
      flex: 0 0 20%;
      height: 100%;
      cursor: pointer;
      position: relative; /* Đảm bảo item có position relative */
      z-index: 1; /* Đảm bảo item có z-index */
      font-size: 1.8rem;

      &:hover {
        & ul {
          display: block; /* Hiển thị dropdown khi hover */
        }
      }

      &-name {
        font-weight: bold;
        width: 100%;
        height: 100%;
        text-align: center;
        align-content: center;
        &:hover {
          background-color: rgb(90, 66, 50);
          border-bottom: 3px solid rgb(219, 142, 84);
        }
      }

      ul {
        display: none; /* Mặc định ẩn */
        position: absolute; /* Đặt dropdown ở vị trí tuyệt đối */
        top: 100%; /* Đảm bảo dropdown nằm dưới item */
        left: 0;
        right: 0;
        background-color: rgb(53, 53, 53);
        padding: 3px;
        z-index: 10; /* Đảm bảo dropdown nằm trên các phần tử khác */
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);

        li {
          padding: 5px 0;

          .nav-header__link {
            color: white;
            text-decoration: none;
            &:hover {
              color: rgb(219, 142, 84);
            }
          }
        }
      }
    }
  }
  &__contact-us {
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 1.8rem;
    padding: 0 2px;
    background-color: rgb(53, 53, 53);
    border-radius: 0 10px 10px 0;

    &-img {
      width: 30px;
      height: 30px;
      filter: brightness(0) saturate(100%) invert(1) sepia(0) grayscale(1)
        contrast(100%) opacity(1);
    }
  }
}
