<div class="container change_password">
  <form action="/auth/login" method="POST">
    <div class="row w-100">
      <h1 class="cp_title">Change Password</h1>

      <div class="enter_cp">
        <h2 for="cp" class="cp_title_label">New Password</h2>
        <input
          type="text"
          name="newPassword"
          id="cp"
          placeholder="Enter New Password"
          class="input_cp"
        />
        <h2 for="re-cp" class="cp_title_label">Re-Enter New Password</h2>
        <input
          type="text"
          name="confirmPassword"
          id="re-cp"
          placeholder="Re-Enter New Password"
          class="confirm-cp"
        />
      </div>
      <button type="submit" class="change_password_btn">Change Password</button>
    </div>
  </form>
</div>