<div class="container reset_password">
  <form>
    <div class="row w-100">
      <h1 class="rsp_title">Forgot Password</h1>

      <div class="enter_email">
        <h2 for="rsp_email" class="rsp_title_label">Email/PhoneNumber</h2>
        <input
          type="text"
          name=""
          id="rsp_email"
          placeholder="Enter Email / Phone Number"
          class="input_email"
        />
      </div>
      <button type="submit" class="retrieve_password">Retrieve Password</button>
    </div>
  </form>
</div>