.change_password {
    display: flex;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 12px;
    width: 80vw;
    height: 50vh;
    margin-top: 50px;
    margin-bottom: 50px;
}
  .cp_title {
    width: 100%;
    text-align: center;
    font-weight: 800;
    font-size: 2rem;
    margin-top: 50px;
  }
  .enter_cp {
    margin-top: 30px;
    width: 100%;
    .input_cp {
      margin-top: 10px;
      width: 100%;
      border: 1px solid #000;
      height: 50px;
      border-radius: 12px;
      padding: 5px;
      margin-bottom: 20px;
    }
    .confirm-cp{
        margin-top: 10px;
      width: 100%;
      border: 1px solid #000;
      height: 50px;
      border-radius: 12px;
      padding: 5px;
    }
  }
  .change_password_btn {
    margin-top: 20px;
    background-color: #050404;
    color: #fff;
    height: 50px;
    border-radius: 12px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.6rem;
    margin-bottom: 10px;
  }
  