<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rises | Đời sống, Nghiên cứu, Xã hội, Giải trí, Quan điểm</title>
    <!-- Favicon -->
    <link
      rel="icon"
      type="image/png"
      href="../public/assets/favicon/favicon-96x96.png"
      sizes="96x96"
    />
    <link
      rel="icon"
      type="image/svg+xml"
      href="../public/assets/favicon/favicon.svg"
    />
    <link rel="shortcut icon" href="../public/assets/favicon/favicon.ico" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="../public/assets/favicon/apple-touch-icon.png"
    />
    <link rel="manifest" href="../public/assets/favicon/site.webmanifest" />

    <!-- Font -->
    <link
      rel="stylesheet"
      href="../public/assets/font/PlayfairDisplay/stylesheet.css"
    />
    <link
      rel="stylesheet"
      href="../public/assets/font/SourceSansPro/stylesheet.css"
    />
    <!-- Css -->
    <!-- Script -->
  </head>
  <body>
    <h1>Danh Sách Bài Viết</h1>
    <ul>
      <% posts.forEach(post => { %>
      <li>
        <h2><%= post.title %></h2>
        <p><%= post.summary %></p>
        <!-- Thay 'summary' bằng cột phù hợp từ database -->
        <p><small>Ngày đăng: <%= post.created_at %></small></p>
      </li>
      <% }); %>
    </ul>
  </body>
</html>
