<div class="header">   
    <div class="container">
        <div class="header__top">
            <div class="row">
                <div class="col-xl-2 col-lg-4 col-sm-6 d-flex justify-content-center mt-3">
                        <div class="des-current-day">
                            <div class="weather">
                                <img src="https://static.mediacdn.vn/images/icon_weather/nhieu-may.png
                " alt="cloud" class="weather__img"></img>
                                <span class="weather__des">28°C Hồ Chí Minh</span>
                            </div>
                            <div class="day-month-year">
                                <span class="day">Wednesday</span>
                                <span class="date">20</span>
                                <span>/</span>
                                <span class="month">11</span>
                                <span>/</span>
                                <span class="year">2024</span>
                            </div>
                    </div>
                </div>
                <div class="col-xl-1 col-lg-2 col-sm-6 d-flex justify-content-center mt-3">
                            <div class="logo">
                                <a href="/logined"><img src="/assets/img/logo/rises.png" alt="" class="logo__img"></a>
                            </div>
                </div>
               <div class="col-xl-4 col-lg-6 col-sm-12">
                    <div class="search">
                        <form class="form__header" action="/search" method="get" id="searchForm">
                        <input
                            class="search__input"
                            type="text"
                            name="q"
                            placeholder="Search"
                        />
                        </form>
                        <img
                        src="/assets/icons/search.svg"
                        class="search__icon"
                        alt="Search Icon"
                        onclick="submitSearchForm()"
                        />
                    </div>
                </div>
                <div class="col-xl-3 col-lg-12 col-sm-12 d-flex justify-content-center align-items-center mt-2">
                        <div class="social">
                            <a href="">
                                <img src="/assets/icons/twitter.svg" alt="twitter" title="Twitter" class="social__icon social__twitter">
                            </a>
                            <a href="">
                                <img src="/assets/icons/facebook.svg" alt="facebook" title="Facebook" class="social__icon social__facebook">
                            </a>
                            <a href="">
                                <img src="/assets/icons/linkedin.svg" alt="linkedin" title="Linkedin" class="social__icon social__linkedin">
                            </a>
                            <a href="">
                                <img src="/assets/icons/instagram.svg" alt="instagram" title="Instagram" class="social__icon social__instagram">
                            </a>
                            <a href="">
                                <img src="/assets/icons/youtube.svg" alt="youtube" title="Youtube" class="social__icon social__youtube">
                            </a>
                        </div>
                </div>
                <div class="col-xl-2 col-lg-12 col-sm-12 d-flex justify-content-center mt-2 align-items-center">
                    <div class="vip-registration">
                        <a href="/vip_registration" class="action_vip-registration">
                            <p>Vip registration</p>
                        </a>
                    </div>
                    <div  class="top-act__user">
    <a href="/profile"> <img src="{{profile.image}}" alt="" class="avatar" /></a>
    <div class="act-dropdown top-act__dropdown">
        <div class="act-dropdown__arrow icon top-act__dropdown-arrow">
        <img src="/assets/icons/arrow-up.png" alt="" class="act-dropdown__arrow-img">
        </div>
        <div class="act-dropdown__inner top-act__dropdown-inner">
        <div class="user-menu">
        <a href="/profile">
            <div class="user-menu__top">
            <img src="{{profile.image}}" alt="" class="avatar">
            <div>
            <p class="user-menu__name">{{profile.username}}</p>
            </div>
            </div>
        </a>
        <ul class="user-menu__list">
            <li>
            <a href="/profile" class="user-menu__link">
                <img src="/assets/icon/profile-user.svg" alt="" class="icon user-menu__icon">
                Profile
            </a>
            </li>
            <li>
            <a href="/review/createReview" class="user-menu__link">
                <img src="/assets/icon/favourite.svg" alt="" class="icon user-menu__icon">
                
                Tac Vu</a>
            </li>
            <li class="user-menu__separate">
            </li>
            <li >
            <a href="/tickets/purchasedTickets" class="user-menu__link">
                <img src="/assets/icon/ticket.svg" alt="" class="icon user-menu__icon">
                
                Premium</a>
            </li>
            <li class="user-menu__separate">
            <a href="/auth/logout" class="user-menu__link">
                <img src="/assets/icon/logout.svg" alt="" class="icon user-menu__icon">
                
                Logout</a>
            </li>
        </ul>
        </div>
        </div>
        </div>
                    </div>
                </div>
            </div>
        </div>
        <nav class="nav-header">
                <div class="nav-header__home">
                    <a href="" class="">
                    <img src="/assets/icons/home.svg" alt="" class="nav-header__home--img">
                    </a>
                </div>
                <div class="nav-header__category">
                    <button class="nav-control nav-previous"><</button>
                    <ul class="nav-header__category-list">                    
                        <li class="nav-header__category-item">
                            <h1 class="nav-header__category-item-name">Business</h1>
                            <ul class="nav-item">
                                <li>
                                    <a href="" class="nav-header__link">Agricultural Products</a>
                                </li>
                                <li>
                                    <a href="" class="nav-header__link">Seafood</a>
                                </li>
                                <li>
                                    <a href="" class="nav-header__link">Food and Beverages</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-header__category-item">
                            <h1 class="nav-header__category-item-name">Politics</h1>
                            <ul class="nav-item" >
                                <li>
                                    <a href="" class="nav-header__link">Domestic Politics</a>
                                </li>
                                <li>
                                    <a href="" class="nav-header__link">International Politics</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-header__category-item">
                            <h1 class="nav-header__category-item-name">Entertainment</h1>
                            <ul class="nav-item">
                                <li>
                                    <a href="" class="nav-header__link">Music</a>
                                </li>
                                <li>
                                    <a href="" class="nav-header__link">Movies</a>
                                </li>
                                <li>
                                    <a href="" class="nav-header__link">Entertainment Events</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-header__category-item">
                            <h1 class="nav-header__category-item-name">Sports</h1>
                            <ul class="nav-item">
                                <li>
                                    <a href="" class="nav-header__link">Football</a>
                                </li>
                                <li>
                                    <a href="" class="nav-header__link">Basketball</a>
                                </li>
                                <li>
                                    <a href="" class="nav-header__link">Badmintoon</a>
                                </li>
                                <li>
                                    <a href="" class="nav-header__link">Other</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-header__category-item">
                            <h1 class="nav-header__category-item-name">Technology</h1>
                            <ul class="nav-item">
                                <li>
                                    <a href="" class="nav-header__link">Phones and Accessories</a>
                                </li>
                                <li>
                                    <a href="" class="nav-header__link">Software and Apps</a>
                                </li>
                                <li>
                                    <a href="" class="nav-header__link">New Technology</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-header__category-item">
                            <h1 class="nav-header__category-item-name">Health</h1>
                            <ul class="nav-item">
                                <li>
                                    <a href="" class="nav-header__link">Nutrition</a>
                                </li>
                                <li>
                                    <a href="" class="nav-header__link">Diseases and Treatments</a>
                                </li>
                                <li>
                                    <a href="" class="nav-header__link">Other</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-header__category-item">
                            <h1 class="nav-header__category-item-name">Society</h1>
                            <ul class="nav-item">
                                <li>
                                    <a href="" class="nav-header__link">Education</a>
                                </li>
                                <li>
                                    <a href="" class="nav-header__link">Culture</a>
                                </li>
                                <li>
                                    <a href="" class="nav-header__link">Charity and Humanity</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-header__category-item">
                            <h1 class="nav-header__category-item-name">Travel</h1>
                            <ul class="nav-item">
                                <li>
                                    <a href="" class="nav-header__link">Domestic Travel</a>
                                </li>
                                <li>
                                    <a href="" class="nav-header__link">International Travel</a>
                                </li>
                                <li>
                                    <a href="" class="nav-header__link">Travel Tips and Guides calendar</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-header__category-item">
                            <h1 class="nav-header__category-item-name">Environment</h1>
                            <ul class="nav-item">
                                <li>
                                    <a href="" class="nav-header__link">Climate change</a>
                                </li>
                                <li>
                                    <a href="" class="nav-header__link">Going Green</a>
                                </li>
                                <li>
                                    <a href="" class="nav-header__link">Animal Protection</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-header__category-item">
                            <h1 class="nav-header__category-item-name">Law</h1>
                            <ul class="nav-item">
                                <li>
                                    <a href="" class="nav-header__link">Criminal Law</a>
                                </li>
                                <li>
                                    <a href="" class="nav-header__link">Civil Law</a>
                                </li>
                                <li>
                                    <a href="" class="nav-header__link">Notable Cases</a>
                                </li>
                            </ul>
                        </li>
                    </ul>    
                    <button class="nav-control nav-next">></button>          
                </div>
                <div class="nav-header__contact-us">
                    <a href="" class="">
                        <img src="/assets/icons/contact.svg" alt="" class="nav-header__contact-us-img">
                    </a>
                </div>
        </nav>
    </div>
</div>