<div class="header">
    <div class="row">
    <div class="top-header">
        <div class="weather">
            <img src="" alt="" class="weather__img"></img>
            <span class="weather__des"></span>
        </div>
        <div class="day-month-year">
            <span class="day"></span>
            <span class="month"></span>
            <span class="year"></span>
        </div>
        <div class="logo">
            <img src="" alt="" class="logo__img">
        </div>
        <div class="search">
            <input class="search__input" type="text" name="" id="" placeholder="Search">
            <img class="search__icon"></img>
        </div>
        <div class="social">
            <a href="">
                <img src="" alt="" class="social__twitter">
            </a>
            <a href="">
                <img src="" alt="" class="social__facebook">
            </a>
            <a href="">
                <img src="" alt="" class="social__linkedin">
            </a>
            <a href="">
                <img src="" alt="" class="social__instagram">
            </a>
            <a href="">
                <img src="" alt="" class="social__youtube">
            </a>
        </div>
        <div class="action">
            <img src="" alt="" class="avatar-user">
            <ul>
                <li>
                    <a href="action-user__link">Profile</a>
                </li>
                <li>
                    <a href="action-user__link">Setting</a>
                </li>
                <li>
                    <a href="action-user__link">Theme</a>
                    <button></button>
                </li>
                <li>
                    <a href="action-user__link">Saved</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="container">
        <nav class="nav-header">
            <div class="nav-header__home">
                <a href="" class="">
                <img src="" alt="" class="nav-header__home--img">
                </a>
            </div>
            <div class="nav-header__category">
                <ul>
                    <li class="nav-header__category-item">
                        <h1 class="nav-header__category-item-name">Business</h1>
                        <ul>
                            <li>
                                <a href="" class="nav-header__link">Agricultural Products</a>
                            </li>
                            <li>
                                <a href="" class="nav-header__link">Seafood</a>
                            </li>
                            <li>
                                <a href="" class="nav-header__link">Food and Beverages</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-header__category-item">
                        <h1 class="nav-header__category-item-name">Politics</h1>
                        <ul>
                            <li>
                                <a href="" class="nav-header__link">Domestic Politics</a>
                            </li>
                            <li>
                                <a href="" class="nav-header__link">International Politics</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-header__category-item">
                        <h1 class="nav-header__category-item-name">Entertainment</h1>
                        <ul>
                            <li>
                                <a href="" class="nav-header__link">Music</a>
                            </li>
                            <li>
                                <a href="" class="nav-header__link">Movies</a>
                            </li>
                            <li>
                                <a href="" class="nav-header__link">Entertainment Events</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-header__category-item">
                        <h1 class="nav-header__category-item-name">Sports</h1>
                        <ul>
                            <li>
                                <a href="" class="nav-header__link">Football</a>
                            </li>
                            <li>
                                <a href="" class="nav-header__link">Basketball</a>
                            </li>
                            <li>
                                <a href="" class="nav-header__link">Badmintoon</a>
                            </li>
                            <li>
                                <a href="" class="nav-header__link">Other</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-header__category-item">
                        <h1 class="nav-header__category-item-name">Technology</h1>
                        <ul>
                            <li>
                                <a href="" class="nav-header__link">Phones and Accessories</a>
                            </li>
                            <li>
                                <a href="" class="nav-header__link">Software and Apps</a>
                            </li>
                            <li>
                                <a href="" class="nav-header__link">New Technology</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-header__category-item">
                        <h1 class="nav-header__category-item-name">Health</h1>
                        <ul>
                            <li>
                                <a href="" class="nav-header__link">Nutrition</a>
                            </li>
                            <li>
                                <a href="" class="nav-header__link">Diseases and Treatments</a>
                            </li>
                            <li>
                                <a href="" class="nav-header__link">Other</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-header__category-item">
                        <h1 class="nav-header__category-item-name">Society</h1>
                        <ul>
                            <li>
                                <a href="" class="nav-header__link">Education</a>
                            </li>
                            <li>
                                <a href="" class="nav-header__link">Culture</a>
                            </li>
                            <li>
                                <a href="" class="nav-header__link">Charity and Humanity</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-header__category-item">
                        <h1 class="nav-header__category-item-name">Travel</h1>
                        <ul>
                            <li>
                                <a href="" class="nav-header__link">Domestic Travel</a>
                            </li>
                            <li>
                                <a href="" class="nav-header__link">International Travel</a>
                            </li>
                            <li>
                                <a href="" class="nav-header__link">Travel Tips and Guides calendar</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-header__category-item">
                        <h1 class="nav-header__category-item-name">Environment</h1>
                        <ul>
                            <li>
                                <a href="" class="nav-header__link">Climate change</a>
                            </li>
                            <li>
                                <a href="" class="nav-header__link">Going Green</a>
                            </li>
                            <li>
                                <a href="" class="nav-header__link">Animal Protection</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-header__category-item">
                        <h1 class="nav-header__category-item-name">Law</h1>
                        <ul>
                            <li>
                                <a href="" class="nav-header__link">Criminal Law</a>
                            </li>
                            <li>
                                <a href="" class="nav-header__link">Civil Law</a>
                            </li>
                            <li>
                                <a href="" class="nav-header__link">Notable Cases</a>
                            </li>
                        </ul>
                    </li>
                </ul>              
            </div>
            <div class="navbar-header__contact-us">
                <a href="" class=""></a>
            </div>
        </nav>
    </div>
    </div>
</div>