<div class="header">   
    <div class="container">
        <div class="header__top">
            <div class="row">
                <div class="col-xl-2 col-lg-4 col-sm-6 d-flex justify-content-center mt-3">
                        <div class="des-current-day">
                            <div class="weather">
                                <img src="https://static.mediacdn.vn/images/icon_weather/nhieu-may.png
                " alt="cloud" class="weather__img"></img>
                                <span class="weather__des">28°C Hồ Chí Minh</span>
                            </div>
                            <div class="day-month-year">
                                <span class="day">Wednesday</span>
                                <span class="date">20</span>
                                <span>/</span>
                                <span class="month">11</span>
                                <span>/</span>
                                <span class="year">2024</span>
                            </div>
                    </div>
                </div>
                <div class="col-xl-1 col-lg-2 col-sm-6 d-flex justify-content-center mt-3">
                            <div class="logo">
                                <img src="/assets/img/logo/rises.png" alt="" class="logo__img">
                            </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-sm-12">
                        <div class="search">
                        <form class="form__header">
                                <input class="search__input" type="text" name="" id="" placeholder="Search">
                        </form>        
                        <img src="/assets/icons/search.svg" class="search__icon"></img>
                        </div>
                </div>
                <div class="col-xl-3 col-lg-12 col-sm-12 d-flex justify-content-center mt-3">
                        <div class="social">
                            <a href="">
                                <img src="/assets/icons/twitter.svg" alt="twitter" title="Twitter" class="social__icon social__twitter">
                            </a>
                            <a href="">
                                <img src="/assets/icons/facebook.svg" alt="facebook" title="Facebook" class="social__icon social__facebook">
                            </a>
                            <a href="">
                                <img src="/assets/icons/linkedin.svg" alt="linkedin" title="Linkedin" class="social__icon social__linkedin">
                            </a>
                            <a href="">
                                <img src="/assets/icons/instagram.svg" alt="instagram" title="Instagram" class="social__icon social__instagram">
                            </a>
                            <a href="">
                                <img src="/assets/icons/youtube.svg" alt="youtube" title="Youtube" class="social__icon social__youtube">
                            </a>
                        </div>
                </div>
                <div class="col-xl-2 col-lg-12 col-sm-12 d-flex justify-content-center mt-3">
                        <div class="action">
                            <a href="#!" class="action__auth action__signup">Sign Up</a>
                            <a href="#!" class="action__auth action__signin">Login</a>
                        </div>
                </div>
            </div>
        </div>
        <nav class="nav-header">
                <div class="nav-header__home">
                    <a href="" class="">
                    <img src="/assets/icons/home.svg" alt="" class="nav-header__home--img">
                    </a>
                </div>
                <div class="nav-header__category">
                    <button class="nav-control nav-previous"><</button>
                    <ul class="nav-header__category-list">                    
                        <li class="nav-header__category-item">
                            <h1 class="nav-header__category-item-name">Business</h1>
                            <ul class="nav-item">
                                <li>
                                    <a href="" class="nav-header__link">Agricultural Products</a>
                                </li>
                                <li>
                                    <a href="" class="nav-header__link">Seafood</a>
                                </li>
                                <li>
                                    <a href="" class="nav-header__link">Food and Beverages</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-header__category-item">
                            <h1 class="nav-header__category-item-name">Politics</h1>
                            <ul class="nav-item" >
                                <li>
                                    <a href="" class="nav-header__link">Domestic Politics</a>
                                </li>
                                <li>
                                    <a href="" class="nav-header__link">International Politics</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-header__category-item">
                            <h1 class="nav-header__category-item-name">Entertainment</h1>
                            <ul class="nav-item">
                                <li>
                                    <a href="" class="nav-header__link">Music</a>
                                </li>
                                <li>
                                    <a href="" class="nav-header__link">Movies</a>
                                </li>
                                <li>
                                    <a href="" class="nav-header__link">Entertainment Events</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-header__category-item">
                            <h1 class="nav-header__category-item-name">Sports</h1>
                            <ul class="nav-item">
                                <li>
                                    <a href="" class="nav-header__link">Football</a>
                                </li>
                                <li>
                                    <a href="" class="nav-header__link">Basketball</a>
                                </li>
                                <li>
                                    <a href="" class="nav-header__link">Badmintoon</a>
                                </li>
                                <li>
                                    <a href="" class="nav-header__link">Other</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-header__category-item">
                            <h1 class="nav-header__category-item-name">Technology</h1>
                            <ul class="nav-item">
                                <li>
                                    <a href="" class="nav-header__link">Phones and Accessories</a>
                                </li>
                                <li>
                                    <a href="" class="nav-header__link">Software and Apps</a>
                                </li>
                                <li>
                                    <a href="" class="nav-header__link">New Technology</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-header__category-item">
                            <h1 class="nav-header__category-item-name">Health</h1>
                            <ul class="nav-item">
                                <li>
                                    <a href="" class="nav-header__link">Nutrition</a>
                                </li>
                                <li>
                                    <a href="" class="nav-header__link">Diseases and Treatments</a>
                                </li>
                                <li>
                                    <a href="" class="nav-header__link">Other</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-header__category-item">
                            <h1 class="nav-header__category-item-name">Society</h1>
                            <ul class="nav-item">
                                <li>
                                    <a href="" class="nav-header__link">Education</a>
                                </li>
                                <li>
                                    <a href="" class="nav-header__link">Culture</a>
                                </li>
                                <li>
                                    <a href="" class="nav-header__link">Charity and Humanity</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-header__category-item">
                            <h1 class="nav-header__category-item-name">Travel</h1>
                            <ul class="nav-item">
                                <li>
                                    <a href="" class="nav-header__link">Domestic Travel</a>
                                </li>
                                <li>
                                    <a href="" class="nav-header__link">International Travel</a>
                                </li>
                                <li>
                                    <a href="" class="nav-header__link">Travel Tips and Guides calendar</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-header__category-item">
                            <h1 class="nav-header__category-item-name">Environment</h1>
                            <ul class="nav-item">
                                <li>
                                    <a href="" class="nav-header__link">Climate change</a>
                                </li>
                                <li>
                                    <a href="" class="nav-header__link">Going Green</a>
                                </li>
                                <li>
                                    <a href="" class="nav-header__link">Animal Protection</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-header__category-item">
                            <h1 class="nav-header__category-item-name">Law</h1>
                            <ul class="nav-item">
                                <li>
                                    <a href="" class="nav-header__link">Criminal Law</a>
                                </li>
                                <li>
                                    <a href="" class="nav-header__link">Civil Law</a>
                                </li>
                                <li>
                                    <a href="" class="nav-header__link">Notable Cases</a>
                                </li>
                            </ul>
                        </li>
                    </ul>    
                    <button class="nav-control nav-next">></button>          
                </div>
                <div class="nav-header__contact-us">
                    <a href="" class="">
                        <img src="/assets/icons/contact.svg" alt="" class="nav-header__contact-us-img">
                    </a>
                </div>
        </nav>
    </div>
</div>