<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> Rises | Admin Pages </title>
    <!-- Favicon -->
    <link
      rel="icon"
      type="image/png"
      href="/assets/favicon/favicon-96x96.png"
      sizes="96x96"
    />
    <link rel="icon" type="image/svg+xml" href="/assets/favicon/favicon.svg" />
    <link rel="shortcut icon" href="/assets/favicon/favicon.ico" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/assets/favicon/apple-touch-icon.png"
    />
    <link rel="manifest" href="/assets/favicon/site.webmanifest" />
    <!-- Font -->
    <link rel="stylesheet" href="/assets/font/PlayfairDisplay/stylesheet.css" />
    <link rel="stylesheet" href="/assets/font/SourceSansPro/stylesheet.css" />
    <!--Icons-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <!-- Css -->
    <link rel="stylesheet" href="/assets/css/main.css" />
    <!-- Script -->
  </head>
  <body>
    <header>
        {{> header_admin}}
    </header>
    {{{body}}}
    {{!-- <script src="/assets/js/main.js"></script> --}}
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

<!-- Thêm Bootstrap JS (Bootstrap 4 yêu cầu jQuery) -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/admin.js"></script>
  </body>
</html>