<div class="container">
  <div class="row mt-5 top_10_most_viewed_articles">
    <div class="article_title col-12 d-flex justify-content-center">
      <div class="article_title--name">Name Category</div>
    </div>
    <div class="col-xl-4 col-lg-6 col-md-12 col-6">
      <div class="card mb-4">
        <div class="row no-gutters">
          <div class="col-4 d-flex align-items-center">
            <img
              src="https://th.bing.com/th/id/OIP._PVWI6boMC3idxhxGOeZrwHaDj?w=331&h=167&c=7&r=0&o=5&dpr=1.3&pid=1.7"
              class="card-img"
              alt="Article Image"
            />
          </div>
          <div class="col-8">
            <div class="card-body">
              <h5 class="card-title">Another Headline of the Article</h5>
              <p class="card-text"><strong>Categories:</strong>
                Health, Lifestyle</p>
              <p class="card-text"><strong>Date of Publication:</strong>
                October 2, 2023</p>
              <div class="d-flex align-items-center">
                <img
                  src="https://th.bing.com/th/id/OIP._PVWI6boMC3idxhxGOeZrwHaDj?w=331&h=167&c=7&r=0&o=5&dpr=1.3&pid=1.7"
                  class="rounded-circle mr-2"
                  alt="Profile Picture"
                />
                <p class="mb-0">Another Author Name</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>